root = true

[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.rs]
indent_style = tab

[*.lua]
indent_size = 3

[*.{cjs,mjs,js,jsx,ts,tsx,json,css,html,yml,yaml}]
indent_size = 2

